# Dependency directory
node_modules/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# TypeScript build output
dist/
build/

# OS files
.DS_Store

# IDE files (VSCode, JetBrains, etc.)
.vscode/
.idea/

# TSLint configuration
tslint.json

# npm or yarn lock files (optional: if you prefer not to commit them)
package-lock.json  # Uncomment if you prefer not to commit package-lock.json
yarn.lock  # Uncomment if you are using yarn and don't want to commit yarn.lock
